:host {
  display: block;
  width: 100%;
  height: 300px;
}

:host ::ng-deep ngx-charts-pie-chart {
  display: block;
  width: 100%;
  height: 100%;
}

:host ::ng-deep ngx-charts-pie-chart .pie-label,
:host ::ng-deep ngx-charts-pie-chart .pie-label text,
:host ::ng-deep ngx-charts-pie-chart .pie-labels text {
  font-size: 16px;
}

:host ::ng-deep ngx-charts-pie-chart .legend-label-text,
:host ::ng-deep ngx-charts-pie-chart .legend-label-text text,
:host ::ng-deep ngx-charts-pie-chart .legend-labels text {
  font-size: 16px;
}
